.btn_menu {
    width: 100%;
    display: flex;
    padding: 5px 0;
    margin: 0;
    background-color: #082b42; /* Azul oscuro */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


.interior {
    max-width: 100%;
    padding: 1px 10px 0px;
    margin: auto;
}

.navegacion {
    float: right;
    display: flex;
    align-items: center;
    min-height: 60px;
    z-index: 1000;
}

.navegacion ul {
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover {
    transform: scale(1.1);
}

.navegacion ul li a {
    color: #c2c2c2;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover {

    transform: scale(1.1);
    color: #f4f4f5;
    border: solid #0b132b;
    border-width: 0 0.1rem;

}

.opciones{
    padding: 10px;
    text-align: center;
    height: auto;
    margin: 10px 0px 10px;
    top: 150px;
    background:linear-gradient(to right, #47cbe3,#082b42 , #0b132b);
    width: 100%;
}

h3{
    margin-top: 20px;
    color:#f7f7ff;
    text-transform: uppercase;
    padding: 20px;
    font-size: 35px;
}
.opciones_contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% auto;
}

.opciones_contenedor .num{
    width: 300px;
    height: 260px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s ;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 2px;
    padding: 25px 5px;
}
.opciones_contenedor .num:hover{
    transform: translateY(-15px);
}
.opciones_contenedor a{
    text-decoration: none;
    color: #fff;
}
.opciones_contenedor .num div h4{
    font-size: 24px;
    margin: 10px auto 20px;
}
.opciones span{
    margin:10px 15;
    text-align: justify;
    color: aquamarine;
}

/*final de la pagina */
footer{
    background: #2c3f72;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #282c34;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}